/* 
    Created on : 27 jan. 2021, 15:41:57
    Author     : SeDaSoft
*/

body {
  
}
.content {
  padding: 1rem 1rem;
  text-align: center;
}
.navbar-custom { 
    background-color: darkred; 
}


table {
  border: 2px solid;
  border-collapse:collapse;
}

.highlight{
  background-color: yellow;
}
